<launch>
  <!-- declare args to be passed in -->
  <arg name="feedback_max_time" default="60"/> 

  <param name="feedback_max_time" type="int" value="$(arg feedback_max_time)" />
  
  <node name="bellbot_action_server" pkg="bellbot_action_server" type="bellbot_server.py" output="screen"/>
  
  <node name="bellbot_schedule_interface" pkg="bellbot_scheduler" type="bellbot_schedule_interface.py" output="screen"/>

  <node name="node_metadata" pkg="topological_utils" type="node_metadata.py" output="screen"/>
</launch>

