<launch>
    <arg name="machine" default="localhost"/>
    <arg name="user" default="strands" />
    
    <machine name="$(arg machine)" address="$(arg machine)" env-loader="/opt/strands/strands_catkin_ws/devel/env.sh" user="$(arg user)" default="true"/>
    
    <node name="gaze_at_pose" pkg="strands_gazing" type="gaze_at_pose"/>
	<node name="pose_extractor" pkg="pose_extractor" type="extract_last_pose_from_path.py"/>
	<node name="human_aware_navigation" pkg="strands_human_aware_navigation" type="human_aware_navigation.py"/>
    
</launch>
